table {
  width: 100%;
  th{
    font-weight: bold;
    font-size: 18px;
    color: #EC6724;

  }
}
.container {
  margin-top: 50px;
  margin-left: 50px;
  width: 90vw;
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: column;
}


